*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  height: 100%;
}

.wrapper {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fbfbfb;
}

.container {
  max-width: 100%;
  margin: 0px auto;
  /* padding: 0px 10px; */
  position: relative;
  /* background-image: url(./images/Vector\ 1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 1366px ; */
}

section {
  max-width: 100%;
  margin: auto;
  padding-top: 159px;
  position: relative;
  background-color: #fbfbfb;
  background-image: url(./images/Ellipse\ 1.png), url(./images/Ellipse\ 2.png);
  background-repeat: no-repeat;
  background-position: calc(-18% + 148px) 159px, calc(100% - 91px) 168px;
  background-size: 258px, 92px;
  padding-bottom: 80px;
}
.container__qualities {
  max-width: 100%;
  position: relative;
  background-color: #fbfbfb;
  background-image: url(./images/Vector\ 1.png);
  background-repeat: no-repeat;
  background-position: -344px 0px;
  background-size: 1993px; 
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  border-bottom: 1px solid #f3f1f1;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 82px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
  width: 97px;
  padding-left: 34px;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
  padding-right: 3px;
}

.header__list li {
  list-style: none;
  display: inline;
  text-align: left;
  vertical-align: middle;
}

.header__list li::after {
  content: " ";
  width: 1px;
  height: 16px;
  background-color: #ececec;
  border-radius: 0.5px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}

.header__list li:first-child {
  margin-left: 0px;
  padding-left: 0px;
}

.header__list li:last-child {
  margin-right: 0px;
  padding-right: 0px;
}

.header__list li:last-child::after {
  display: none;
}

.header__list li a {
  display: inline-block;
  text-decoration: none;
  padding: 0px 14px 0px 12px;
  vertical-align: middle;
}

.header__list li a:hover {
  background-color: #faf3eb;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.title {
  font-weight: 800;
  font-size: 14px;
  padding-top: 24px;
  color: #313131;
  line-height: 17px;
  letter-spacing: 0.1px;
}

.subtitle {
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding-top: 5px;
  padding-bottom: 20px;
  color: #313131;
  letter-spacing: 0.0928571px;
}

.hit {
  margin-left: 12px;
  width: 34px;
  height: 10px;
  text-align: center;
  padding: auto;
  margin-top: 3px;
  vertical-align: middle;
  background: #ffa23c;
  box-shadow: 0px 1px 6px rgba(255, 162, 60, 0.778382);
  border-radius: 7.5px;
  font-weight: 800;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.0571429px;
  color: #313131;
}

.header__link {
  color: #313131;
  font-size: 18px;
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: #ff8e12;
  padding-top: 14px;
  margin: auto;
  text-align: center;
}

h2 {
  width: 642px;
  margin: auto;
  padding-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #313131;
  margin-bottom: 60px;
}

form {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 652px;
  height: 48px;
}

form input {
  background: #ffffff;
  border: 1px solid #ffa23c;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  width: 348px;
  height: 48px;
  padding-left: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

form button {
  width: 274px;
  height: 48px;
  background: #129a5f;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: 0;
  color: #ffffff;
}

.text_after_form {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: auto;
  width: 652px;
  color: #b8b8b8;
  margin-top: 10px;
  margin-bottom: 85px;
}

.container__atribute {
  max-width: 772px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.container__atribute p:first-child {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #313131;
  margin-bottom: 21px;
}

.container__atribute p span {
  color: #ff8e12;
  font-weight: 600;
}

.container__atribute p:nth-child(2) {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #313131;
  margin-top: -2px;
}

.container_atribute_headset {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.container_atribute_headset img {
  width: 86px;
  margin-right: 20px;
}

.container_atribute_headset article {
  width: 292px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #4f4f4f;
}

.container_atribute_score {
  width: 122px;
  height: 94px;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  padding: 16px 30px;
  text-align: center;
  color: #e37570;
  margin-right: 45px;
}

.container_atribute_specifications {
  min-width: 772px;
  text-align: left;
  margin: auto;
}

.container_atribute_specifications tr:first-child {
  background: #f5f5f5;
}

.container_atribute_specifications th {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #979797;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;

  border-top: none;
}

.container_atribute_specifications td,
.container_atribute_specifications th {
  border-left: none;
  border-top: none;
}

.container_atribute_specifications td:first-child,
.container_atribute_specifications th:first-child {
  border-left: none;
  /* width: 40%; */
}

.container_atribute_specifications th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.container_atribute_specifications th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-right: 16px;
}

.container_atribute_specifications tr td {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  vertical-align: center;
  color: #313131;
  padding-left: 19px;
  padding-bottom: 36px;
}

.container_atribute_specifications tr td:first-child {
  padding-top: 27px;
}

.container_atribute_specifications tr .element_fix {
  width: 89px;
  padding-top: 9px;
  padding-bottom: 10px;

  background: #ff8e12;
  border-radius: 24px;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  vertical-align: center;
  margin: auto;
  color: #ffffff;
}

.container_atribute_specifications .second_column {
  font-size: 13px;
}

.container_atribute_specifications .theird_column {
  width: 20%;
  text-align: center;
  margin: auto;
}

.checking {
  width: 252px;
  background: #ffa23c;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  padding-top: 13px;
  padding-bottom: 12px;
  border: 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.container__quality {
  margin: auto;
  padding-top: 31px;
}

.container__quality p:first-child {
  margin: auto;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #313131;
  margin-bottom: 40px;
}

.container__quality p:last-child {
  margin: auto;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  line-height: 26px;
  color: #313131;
  margin-top: 93px;
  padding-bottom: 59px;
}


.container__quality .container__quality_steps {
  margin: auto;
  vertical-align: middle;
}

.container__quality .container__quality_steps td:last-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* z-index: 1; */
  color: #313131;
}

.container__quality .container__quality_steps:last-child td:last-child {
  padding-bottom: 0;
}

.container__quality_steps .container__quality_step {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #313131;
  padding-bottom: 24px;
  padding-right: 18px;
  /* vertical-align: middle; */
}

.container__quality_steps .container__quality_step span {
  border-radius: 3.5px;
  box-shadow: inset 0 7px 0 0 #ffa23c;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.4em;
}

.container__factors {
  width: 863px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}

.container__factors .container__factor {
  display: flex;
}

.container__factors .container__factor:first-child img {
  width: 79.1px;
  height: 95px;
  padding-top: 16px;
}

.container__factors .container__factor:first-child article {
  padding-top: 11px;
}

.container__factors .container__factor:last-child img {
  width: 114.98px;
  height: 92.42px;
}

.container__factors .container__factor:last-child article {
  padding-top: 11px;
}

.container__factors .container__factor article {
  width: 286px;
}

.container__factors .container__factor article p:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #313131;
  margin-bottom: 11px;
}

.container__factors .container__factor article p:last-child {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #313131;
  width: 258px;
}

.container__factors .container__factor:last-child article p:last-child {
  width: 246px;
}

.container__factors .container__factor:first-child article {
  margin-left: 34px;
}

.container__factors .container__factor:last-child article {
  margin-left: 20px;
}

.container__factors .container__factor:first-child {
  margin-top: 9px;
}

.container__factors .container__factor:last-child {
  margin-bottom: 11px;
}

main {
  background: white;
  margin: auto;
  /* max-width: 978px; */
  margin-bottom: 60px;
}
.main__container {
  max-width: 978px;
  margin: auto;
}
.main__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #313131;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}
.main__title span {
  color: #ff8e12;
}

.main__text {
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #313131;
  /* background-color:greenyellow; */
}
.main__container img {
  float: left;
  margin-top: 35px;
  margin-bottom: 30px;
  margin-right: -11px;
  width: 461px;
}

footer {
  background: #313131;
  padding-top: 48px;
  padding-bottom: 40px;
}

footer .links {
  max-width: 1186px;
  margin: auto;
  display: flex;
  display: space-between;
  padding-bottom: 44px;
}

footer .line {
  content: " ";
  max-width: 1168px;
  height: 1px;
  background: #484848;
  margin: auto;
  margin-bottom: 32px;
}

footer .links .link {
  margin-right: 73px;
}

footer .links .link:last-child {
  margin-right: 0px;
}

footer .links .title {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
  color: #ffffff;
}

footer .links .link a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #d3d2d2;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 13px;
}

footer .contacts {
  max-width: 1168px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .contacts p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

footer .contacts p span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #d3d2d2;
}

footer .contacts div a {
  display: inline;
  margin-right: 24px;
}

footer .contacts div a:last-child {
  margin-right: 0;
}

footer .contacts p:last-child {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  color: #848484;
} 

/* 
.children {
  position: absolute;
  top: 100%;
  display: none;
  width: 100%;
  background: #fbfbfb;
}
ul li:hover > ul {
  display: inherit;
  left: 5px;
}

.children li {
  float: none;
  display: list-item;
  position: relative;
  background-color: #fbfbfb;  
  
}

.children .title {  
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: normal;
  padding-top: 20px;
  color: #313131;
  background:red;
} */

/* .hit {
  width: 34px;
  height: 10px;
  text-align: center;
  padding: auto;
  vertical-align: middle;
  background: #ffa23c;
  box-shadow: 0px 1px 6px rgba(255, 162, 60, 0.778382);
  border-radius: 7.5px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 8px;
  line-height: 10px;
  padding-top: 3px;
  padding-bottom: 2px;

  letter-spacing: 0.0571429px;

  color: #313131;
}

.subtitle2 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #898989;
  line-height: 18px;
  padding: 0;
  margin: 0;
} */
