html,
body {
  letter-spacing: 0.4px;
  font-family: Montserrat, sans-serif;
}

.grey1 {
  background: #f8f8f8;
}
header {
  /* padding-top: 24px; */
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #f3f1f1;
  position: fixed;
  width: 100%;
  background: #f8f8f8;
  /* margin-bottom: 90px; */
}

.menu-bar {
  display: none;
}

.logo {
  width: 97px;
  padding-top: 24px;
  padding-left: 36px;
}

nav ul li {
  display: inline;
  /* padding-left: 16px;
  padding-right: 16px; */
  text-align: left;
  vertical-align: middle;
}

nav ul li a {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

nav ul li a:hover {
  background-color: rgb(255, 247, 203);
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

nav ul li .hit {
  background-color: #ffa23c;
}

.divide {
  color: #ececec;
}

.title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: normal;
  /* identical to box height */

  letter-spacing: 0.1px;

  padding-top: 24px;
  color: #313131;
}

.subtitle {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.0928571px;

  padding-bottom: 20px;
  color: #313131;
}

.subtitle .hit {
  margin-left: 15px;
}

.children {
  position: absolute;
  top: 100%;
  display: none;
  width: 100%;
}

ul li:hover > ul {
  display: inherit;
  left: 15px;
}

.children li {
  float: none;
  display: list-item;
  position: relative;
  background-color: white;
}

.hit {
  width: 34px;
  height: 10px;
  text-align: center;
  padding: auto;
  vertical-align: middle;
  background: #ffa23c;
  box-shadow: 0px 1px 6px rgba(255, 162, 60, 0.778382);
  border-radius: 7.5px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 8px;
  line-height: 10px;
  padding-top: 3px;
  padding-bottom: 2px;

  letter-spacing: 0.0571429px;

  color: #313131;
}

.subtitle2 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #898989;
  line-height: 18px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #ff8e12;
  padding-top: 173px;
  margin: auto;
  text-align: center;
}

h2 {
  width: 642px;
  margin: auto;
  padding-top: 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 144%;
  /* letter-spacing: 0.2px; */

  text-align: center;

  color: #313131;
  margin-bottom: 60px;
}

.form {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 652px;
  height: 48px;
}

.form input {
  background: #ffffff;
  border: 1px solid #ffa23c;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  width: 348px;
  height: 48px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #888888;
}

.form button {
  width: 274px;
  background: #129a5f;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  border: 0;
  color: #ffffff;
}

.grey {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  margin: auto;
  width: 652px;
  color: #b8b8b8;
  padding-top: 10px;
  margin-bottom: 85px;
}

.result {
  width: 772px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.result p:first-child {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #313131;
}

.result span {
  color: #ff8e12;
}

.result p:last-child {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #313131;
}

.block1 {
  width: 772px;
  padding-right: 46px;
  margin: auto;
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hear {
  display: flex;
  align-items: center;
}

.hear img {
  width: 86px;
  margin-right: 20px;
}

.hear p {
  width: 292px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12.2px;
  line-height: 20px;
  /* or 167% */

  letter-spacing: 0.5px;
  color: #4f4f4f;
}

.block1 .b57 {
  width: 122px;
  height: 94px;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */
  padding: 16px 30px;
  text-align: center;

  color: #e37570;
}

.table1 {
  width: 772px;
  margin: auto;
  text-align: left;
  padding-left: 19px;
  padding-right: 19px;
}

.table1 tr:first-child {
  /* identical to box height, or 162% */
  background: #f5f5f5;
}

.table1 th {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #979797;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;

  border-top: none;
}
.table1 td,
.table1 th {
  border-left: none;
  border-top: none;
}

.table1 td:first-child,
.table1 th:first-child {
  border-left: none;
  width: 40%;
}

.table1 th:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.table1 th:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.table1 tr td {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  vertical-align: center;
  /* identical to box height, or 129% */

  color: #313131;
  padding-left: 19px;
  padding-bottom: 33px;
}

.table1 tr td:first-child {
  padding-top: 27px;
}

.table1 tr .orange {
  width: 89px;
  padding-top: 9px;
  padding-bottom: 10px;

  background: #ff8e12;
  border-radius: 24px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  vertical-align: center;
  margin: auto;
  color: #ffffff;
}

.theird {
  width: 20%;
  text-align: center;
  margin: auto;
}

.check {
  width: 252px;
  background: #ffa23c;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  padding-top: 13px;
  padding-bottom: 12px;
  border: 0;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 80px;
}

.figure {
  margin: auto;
  padding-top: 30px;
  /* background: linear-gradient(273.91deg, #F4F4F4 30.04%, rgba(244, 244, 244, 0) 92.32%); */
}

.figure p {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #313131;
  margin-bottom: 40px;
}

.figure table {
  margin: auto;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #313131;
}

.figure table td:last-child {
  padding-left: 18px;
}

.figure table .step {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #313131;
  padding-bottom: 27px;
}

.step span {
  border-radius: 3.5px;
  box-shadow: inset 0 7px 0 0 #ffa23c;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
}

.figure p:last-child {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #313131;
  margin-top: 93px;
  padding-bottom: 70px;
}

.ability {
  width: 863px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}

.ability .container {
  display: flex;
}

.ability .container .paragraph {
  width: 286px;
}

.ability .container .paragraph p:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  color: #313131;
  margin-bottom: 11px;
}

.ability .container .paragraph p:last-child {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  color: #313131;
}

.ability .container:first-child .paragraph {
  margin-left: 34px;
}

.ability .container:last-child .paragraph {
  margin-left: 20px;
}

.ability .container:first-child {
  margin-top: 9px;
}

.ability .container:last-child {
  margin-bottom: 11px;
}

.white {
  background: white;
  margin: auto;
  width: 978px;
  margin-bottom: 60px;
}

.white p:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #313131;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}
.white p span {
  color: #ff8e12;
}

.white .text {
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #313131;
}

.white .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.white .container img {
  width: 462px;
  float: left;
}

.white .container .text {
  width: 527px;
  float: right;
  margin-left: -11px;
  margin-bottom: 30px;
}

